.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.navigation {
  display: flex;
  padding: 1.6rem;
  font-size: 1.6rem;
  align-items: center; }
  .navigation a {
    text-decoration: none;
    color: black; }
    .navigation a:hover {
      text-decoration: underline; }
  .navigation__item {
    display: inline-block;
    margin: 0 1.6rem; }
  .navigation__list {
    display: flex;
    margin-top: 0;
    list-style-type: none;
    margin-left: auto; }
  .navigation__cart {
    width: 25px; }
  .navigation__cartcontainer {
    cursor: pointer; }
  .navigation__cartnumber {
    margin-left: -8px;
    background-color: red;
    padding: 2px 5px;
    color: white;
    border-radius: 100%;
    font-size: 1rem; }
  .navigation__toggle {
    position: absolute;
    top: 25.375px;
    right: 1.6rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer; }
  .navigation__toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px; }

@media (max-width: 768px) {
  .navigation__toggle {
    display: flex; }
  .navigation__cartcontainer {
    position: absolute;
    top: 25.375px;
    right: 5.8rem; }
  .navigation {
    flex-direction: column;
    align-items: flex-start; }
  .navigation__list {
    width: 100%;
    flex-direction: column;
    display: none; }
  .navigation__item {
    text-align: center;
    padding: 10px; }
    .navigation__item:hover {
      background-color: #a39e9e; }
  .navigation a:hover {
    text-decoration: none; }
  .navigation__list.active {
    display: flex; } }

#logoimg {
  cursor: pointer;
  width: 120px; }

.jumbotron {
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  position: relative; }
  .jumbotron__header {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    color: white; }
  .jumbotron__background {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .jumbotron__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3;
    transition: all 0.5s; }
    .jumbotron__btn:hover {
      transform: translate(-50%, -50%) scale(1.03, 1.03);
      -ms-transform: translate(-50%, -50%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

#main {
  min-height: calc(100vh - 114px); }

.section__heading {
  text-align: center;
  font-size: 4rem;
  padding: 30px; }

.section__container {
  flex: 0 0 350px;
  justify-content: center;
  margin: 3rem;
  transition: all 0.8s;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
  height: 350px; }
  .section__container:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 1.1rem 1.1rem 3rem rgba(0, 0, 0, 0.5); }

.section__sub {
  text-align: center;
  cursor: pointer;
  padding-top: 10px; }
  .section__sub:hover {
    text-decoration: underline; }

.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; }

.section__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; }

.product {
  transition: all 0.8s;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5); }
  .product:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 1.1rem 1.1rem 3rem rgba(0, 0, 0, 0.5); }
  .product__container {
    height: 250px; }
  .product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; }
  .product__name {
    text-align: center;
    cursor: pointer;
    padding-top: 10px; }
    .product__name:hover {
      text-decoration: underline; }
  .product__featured {
    text-align: center;
    font-size: 4rem;
    padding: 30px; }
  .product__price {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem; }
  .product__btndiv {
    text-align: center; }
  .product__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s; }
    .product__btn:hover {
      transform: scale(1.03, 1.03); }
  .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .product__list div {
      flex: 0 0 250px;
      margin: 2rem; }

.footer {
  margin: 5rem auto;
  justify-content: center;
  font-size: 1.2rem;
  bottom: 0;
  text-align: center; }

.detail__section {
  margin-top: 100px; }

.detail__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.detail__name {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.detail__price {
  font-size: 2rem;
  padding-bottom: 2rem; }

.detail__description {
  font-size: 1.6rem;
  padding-bottom: 2rem; }

.detail__btn {
  width: 100%;
  margin-bottom: 1rem;
  padding: 12px 24px;
  font-size: 1.6rem;
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.5s; }
  .detail__btn:hover {
    transform: scale(1.03, 1.03); }

@media (max-width: 768px) {
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .detail__productimg {
      flex: 0 0 90%;
      margin-left: 6rem; }
    .detail__section {
      flex: 0 0 90%;
      justify-content: center;
      margin-top: 50px; }
  #productdiv {
    margin: 0; } }

.cart {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  height: 60%;
  width: 60%;
  background-color: white;
  color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
  border: solid;
  overflow-y: auto; }
  .cart__close {
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 15px;
    top: 2%;
    right: 2%; }
  .cart__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0; }

.cart-item {
  border: solid;
  margin: 2px 5px 2px 5px; }
  .cart-item__img {
    width: 75px;
    height: 75px;
    margin: auto; }
  .cart-item__icon {
    width: 25px;
    padding: 2.5px;
    cursor: pointer; }
  .cart-item h5 {
    margin-bottom: 5px;
    text-decoration: underline; }

@media (max-width: 768px) {
  .cart {
    height: 70%;
    width: 95%; } }

.category__header {
  text-align: center; }

.category__button {
  text-align: center;
  margin: 10px 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s; }
  .category__button:hover {
    transform: scale(1.03, 1.03); }

.category__btndiv {
  text-align: center; }

.login {
  text-align: center; }
  .login__form {
    justify-content: center; }
  .login__header {
    text-align: center;
    font-size: 4rem;
    padding: 30px; }
  .login__input {
    margin: 10px 0; }
  .login__text {
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem; }
  .login__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s; }
    .login__btn:hover {
      transform: scale(1.03, 1.03); }

.signup {
  text-align: center; }
  .signup__form {
    justify-content: center; }
  .signup__header {
    text-align: center;
    font-size: 4rem;
    padding: 30px; }
  .signup__input {
    margin: 10px 0; }
  .signup__text {
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem; }
  .signup__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s; }
    .signup__btn:hover {
      transform: scale(1.03, 1.03); }

.shipping {
  text-align: center; }
  .shipping__form {
    justify-content: center; }
  .shipping__header {
    text-align: center;
    font-size: 4rem;
    padding: 30px; }
  .shipping__input {
    margin: 10px 0; }
  .shipping__text {
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem; }
  .shipping__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s; }
    .shipping__btn:hover {
      transform: scale(1.03, 1.03); }

.custom {
  text-align: center; }
  .custom__form {
    justify-content: center; }
  .custom__header {
    text-align: center;
    font-size: 4rem;
    padding: 30px; }
  .custom__input {
    margin: 10px 0; }
  .custom__text {
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem;
    margin: 0 auto;
    border: 1px solid grey;
    padding-top: 16px; }
  .custom__btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s; }
    .custom__btn:hover {
      transform: scale(1.03, 1.03); }

.success {
  text-align: center; }
  .success__header {
    font-size: 4rem;
    padding: 30px; }
  .success__statement {
    padding: 30px;
    font-size: 1.6rem; }
  .success__img {
    width: 350px; }

.canceled {
  text-align: center;
  font-size: 1.6rem;
  padding: 30px; }
