*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // this defines what 1 rem is
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

#main{
    min-height: calc(100vh - 114px);
}
