.jumbotron{
    width:100vw;
    height:90vh;
    max-width: 100%;
    position: relative;

    &__header{
        text-align: center;
        position:absolute;
        top: 40%;
        left: 50%;
        font-size: 5rem;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        z-index:3;
        color: white;
    }
    &__background{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    &__btn{
        position:absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        z-index:3;
        transition: all 0.5s;

        &:hover{
            transform: translate(-50%, -50%) scale(1.03, 1.03);
            -ms-transform: translate(-50%, -50%);
        }
    }
}