.login{
    text-align: center;
    &__form{
        justify-content: center;
    }
    &__header{
        text-align: center;
        font-size: 4rem;
        padding: 30px;
    }
    &__input{
        margin: 10px 0;
    }
    &__text{
        height: 5rem;
        width:30rem;
        font-size: 1.6rem;
    }
    &__btn{
        background-color: black;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.5s;

        &:hover{
            transform: scale(1.03, 1.03);
        }
    }
}