.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.navigation {
  display: flex;
  padding: 1.6rem;
  font-size: 1.6rem; }
  .navigation a {
    text-decoration: none;
    color: black; }
    .navigation a:hover {
      text-decoration: underline; }
  .navigation__item {
    display: inline-block;
    margin: 0 1.6rem; }
  .navigation__list {
    margin-top: 0;
    list-style-type: none;
    margin-left: auto; }
  .navigation__cart {
    width: 25px; }
  .navigation__cartcontainer {
    cursor: pointer; }
  .navigation__cartnumber {
    margin-left: -8px;
    background-color: red;
    padding: 2px 5px;
    color: white;
    border-radius: 100%;
    font-size: 1rem; }

.jumbotron {
  width: 100vw;
  height: 90vh;
  position: relative; }
  .jumbotron__header {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    color: white; }
  .jumbotron__background {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .jumbotron__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

.section__heading {
  text-align: center;
  font-size: 4rem;
  padding: 30px; }

.section__container {
  height: 50vh; }

.section__sub {
  text-align: center;
  cursor: pointer;
  padding: 10px; }
  .section__sub:hover {
    text-decoration: underline; }

.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; }
